[submodule "bundle/fugitive"]
  path = bundle/fugitive
  url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-colors-solarized"]
  path = bundle/vim-colors-solarized
  url = git@github.com:altercation/vim-colors-solarize.git
[submodule "bundle/tabular"]
  path = bundle/tabular
  url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-unimpaired"]
  path = bundle/vim-unimpaired
  url = https://github.com/tpope/vim-unimpaired.git
[submodule "/home/oleg/.vim/bundle/vim-yaml-folds"]
  path = bundle/vim-yaml-folds
  url = https://github.com/pedrohdz/vim-yaml-folds.git
[submodule "/home/oleg/.vim/bundle/ansible-vim"]
  path = bundle/ansible-vim
  url = https://github.com/pearofducks/ansible-vim.git
[submodule "/home/oleg/.vim/bundle/vim-jinja2-syntax"]
  path = bundle/vim-jinja2-syntax
  url = https://github.com/glench/vim-jinja2-syntax.git
[submodule "/home/oleg/.vim/bundle/vim-surround"]
  path = bundle/vim-surround
  url = https://github.com/anyakichi/vim-surround.git
